.top-index{
    background-image: url(image3.jpg);
    background-size: 100%;
    height: 800px;
    width: 100%;
    .title{
        color:#FFFFFF;
        font-size: 50px;
        padding-left: 700px;
        padding-top: 300px;
    }
}


.first-index{
    width: 1351px;
    height: 755px;
    left: 0px;
    top: 80px;
    background-image: url(image8.jpg);
    background-size: 100%;

}
.second-index{
    background-image: url(image1.jpg);
    background-size: 100%;
   
}
.container{
    text-align: center;
}    
.container h1{
    color: #FFFFFF;
}

.container h3{
    color:#FFFFFF;
}

.second-index h1{
    color:#FFFFFF;
}

.project{
    display: flex;
    color:white;
}

.project a{
    margin: 10px;
}



.container h0{
    text-align: center;
}    
