.mypage{
    background-color: rgb(221, 223, 225);
    height: 100%;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.box{
    height: 100%;
    top: 20%;

    width: 500px;
    background-color: #ffff;
    text-align: center;
    margin: 0 auto;
}
